<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ServletControladorAltaVotante</servlet-name>
        <servlet-class>Controladores.ServletControladorAltaVotante</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletControladorListadoVotantes</servlet-name>
        <servlet-class>Controladores.ServletControladorListadoVotantes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletControladorLogin</servlet-name>
        <servlet-class>Controladores.ServletControladorLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletControladorModificarVotante</servlet-name>
        <servlet-class>Controladores.ServletControladorModificarVotante</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletControladorBajaVotante</servlet-name>
        <servlet-class>Controladores.ServletControladorBajaVotante</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletControladorVotar</servlet-name>
        <servlet-class>Controladores.ServletControladorVotar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletControladorHacerEscrutinio</servlet-name>
        <servlet-class>Controladores.ServletControladorHacerEscrutinio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletControladorVerEscrutinio</servlet-name>
        <servlet-class>Controladores.ServletControladorVerEscrutinio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletControladorAbrirEscrutinio</servlet-name>
        <servlet-class>Controladores.ServletControladorAbrirEscrutinio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletControladorCerrarEscrutinio</servlet-name>
        <servlet-class>Controladores.ServletControladorCerrarEscrutinio</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletControladorAltaVotante</servlet-name>
        <url-pattern>/ServletControladorAltaVotante</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletControladorListadoVotantes</servlet-name>
        <url-pattern>/ServletControladorListadoVotantes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletControladorLogin</servlet-name>
        <url-pattern>/ServletControladorLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletControladorModificarVotante</servlet-name>
        <url-pattern>/ServletControladorModificarVotante</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletControladorBajaVotante</servlet-name>
        <url-pattern>/ServletControladorBajaVotante</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletControladorVotar</servlet-name>
        <url-pattern>/ServletControladorVotar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletControladorHacerEscrutinio</servlet-name>
        <url-pattern>/ServletControladorHacerEscrutinio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletControladorVerEscrutinio</servlet-name>
        <url-pattern>/ServletControladorVerEscrutinio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletControladorAbrirEscrutinio</servlet-name>
        <url-pattern>/ServletControladorAbrirEscrutinio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletControladorCerrarEscrutinio</servlet-name>
        <url-pattern>/ServletControladorCerrarEscrutinio</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
